*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.conteiner{
    height:620px;
     background-color: black;
     background: #0a007e center;
    background-size: auto;
    padding-bottom: 3rem;
    background-image: linear-gradient(3deg, #b90f0f 0%, #000000 100%)
}
.navigator-div{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}
.logo{
    font-size: 30px;
    color: white;
    size: 20px;
}
.li-nav{
    display: inline-block;
    color: white;
    font-weight: 700;
    
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.jcs{
    justify-content: flex-end;
    display: inline-block;
   
}
.navigator{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.download{
background-color:green;
border-radius: 50px;
color:white;
padding: 0.25rem 1rem;
}
.slogan{
    color: #00ffd4;
    font-family: 'poppins', serif;
    
}
.h1{
    font-size: 3.2rem;
    font-weight: 700px;
    max-width: 950px;
    letter-spacing:0.05rem;
    font-family: 'poppins' serif;
}
.dialog{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}
.p1{
    font-size: 15px;
    width: 50%;
    margin: 10px 0 0 0;
}
.box{
    background: transparent;
    color:white;
    width: 190px;
    cursor: pointer;
    letter-spacing:0.05rem;
    padding: 0.9rem 1.5rem;
    font-weight: 200;
    font-size: 20px;
    transition: width 2s, height 4s;
    border: 0.1rem solid #ffffff
}
.box:hover{
  color:rgb(248, 248, 248);
  width: 100px;
  background:#8d0e54;
}
.slogan1{
    float: right;
    font-weight: 200;
    /* size: 20px; */
}
.image1{
    width: 75%;
}
.conteiner2{
    background-color: #f4f4f4;
    height: 250px;
    
}
.satauri{
    font-weight: 700;
    font-size: 1.5rem;
    opacity: .5;
    text-align: center;
    border-bottom: 1px solid #bcb9b9;
    margin: 0 auto 2rem;
    text-align:center;
    padding-top: 1.5rem;
}
.logoes{
    display: flex;
    justify-content: space-between;
    width: 200px;
    display: inline-block;
    margin-right: 3.5rem;
    font-weight: 200;
}
.logoesdiv{
    justify-content: center;
    display: flex;
}
.satauri1{
    font-weight: 700;

    font-size: 1.5rem;
    opacity: .5;
    text-align: center;
    border-bottom: 1px solid #bcb9b9;
    margin: 0 auto 2rem;
    text-align:center;
    padding-top: 1.5rem;
}

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
  }
  
  .poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
  }
  
  .poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
  }
  
  .poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
  }
  
  .poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
  }
  
  .poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  
  .poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
  }
  
  .poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
  }
.poto{
    display:inline-block;
    width: 50px;
}
.diviko{
    display: inline-block;
    width: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.gulve{
    text-align: center;
    font-size: 20px;

}
  .maindiv{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sadas{
    justify-content: space-between;
    display: flex;
  }
  .paragraph{
    font-size: .8rem;
    font-weight: 400;
    opacity: .8;
  }
  .load{
    font-size: 20px;
    font-weight: 700;
    color: #0a007e;
    
  }
  .conteiner4{
    background-color: #271e8a;
    height: 1100px;

  }
  .h4{
    font-weight: 200;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    opacity: .5;
    text-align: center;
    font-size: 20px;
    color: #bcb9b9;
    border-bottom: 1px solid #8e8484;
    margin: 0 auto 2rem;
    margin-top: 2%;
    padding-top: 2%;
  }
  .paragraph1{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
  .spaniko{
    color: #00ffd4;
  }
  .pro{
    width: 386px;
    height: 500px;
    background-color: #fff;
    display: inline-block;
    
  }
.prop{
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
}
.hahi{
  width: 386px;
  height: 2px;
  background-color: gray;

  margin-top: 2%;
  
}
.paragraphdiv{
  text-align: center;
  padding-top: 5%;
  font-weight: 500;
  font-size: 20px;
}

.knopka{
  padding: 0.6rem 1rem;
  background: #030303;
  color: #fff;
  min-width: 220px;
  font-size: 25px;
  margin-left: 20%;
  max-width: 10px;
  margin-top: 10%;
  text-align: center;
  transition: width 2s, height 4s;
}
.knopka:hover{
  color:rgb(255, 255, 255);
  width: auto;
  background:#7947e5;
}
.master{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.spamunia{
  font-size: 30px;
  font-weight: 700;
}
.h700{
  font-weight: 700;
}
.tac{
  text-align: center;
}
.h300{
  font-weight: 300;
}
.conteiner5{
  background-color:#a19ebe;
  height: 460px;
}
.c1p{
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  opacity: .5;
  text-align: center;
  font-size: 20px;
  color: #463b3b;
  border-bottom: 1px solid #4d4c4c;
  margin: 0 auto 2rem;
  padding-top: 2%;

}
.dpjs{
  display: flex;
  justify-content: space-between;
}
.gdn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.musha{
  width: 248px;
}
.john{
  text-align: center;
  color: #271e8a;
  font-size: 20px;
  margin-top: 1%;
}
.johnm{
  margin-top: 1%;
  text-align: center;
}
.conteiner6{
  height:600px;
  background-color: rgb(255, 255, 255);
}
.c1pa{
  padding-top:2%;
  align-items: center;
}
.mama{
  align-items: center;
}
.ax{
  text-align: center;
}
.fonts40p{
  font-size: 70px;
}
.ght{
  width: 50px;
  background-color: white;
  padding: 15px;
  font-size: 20px;
  border-color: black;
  border: 0.05rem solid #000000
}
.lol{
  margin-top: 2%;
}
.conteiner7{
  height: 200px;
  background-color: #0a007e;
}
.linku{
  display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    color: white;
    font-weight:100;
    margin: 0.2rem 0;
}
.psps{
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.loladze{
  text-align: center;
  display: inline-block;
}
.jojo{
  display:flex;
  justify-content: space-evenly;
  padding-top: 2%;
}