*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.conteiner{
    height:620px;
     background-color: black;
     background: #0a007e center;
    background-size: auto;
    padding-bottom: 3rem;
    background-image: linear-gradient(10deg, #ffaaaa 0%, #34b393 100%);
}
.navigator-div{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}
.logo{
    font-size: 30px;
    color: white;
    size: 20px;
}
.li-nav{
    display: inline-block;
    color: white;
    font-weight: 700;
    
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.jcs{
    justify-content: flex-end;
    display: inline-block;
   
}
.navigator{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.download{
background-color:green;
border-radius: 50px;
color:white;
padding: 0.25rem 1rem;
}
.slogan{
    color: #00ffd4;
    font-family: 'poppins', serif;
    
}
.h1{
    font-size: 3.2rem;
    font-weight: 700px;
    max-width: 950px;
    letter-spacing:0.05rem;
    font-family: 'poppins' serif;
}
.dialog{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}
.p1{
    font-size: 15px;
    width: 50%;
    margin: 10px 0 0 0;
}
.box{
    background: #a19ebe;
    color: white;
    width: 190px;
    cursor: pointer;
    letter-spacing:0.05rem;
    padding: 0.9rem 1.5rem;
    font-size: 20px;
    transition: width 2s, height 4s;
}
.box:hover{
  color:rgb(33, 37, 37);
  width: 100px;
  background:#a19ebe;
}
.slogan1{
    float: right;
    font-weight: 200;
    /* size: 20px; */
}
.image1{
    width: 75%;
}
.conteiner2{
    background-color: antiquewhite;
    height: 250px;
    
}
.satauri{
    font-weight: 700;
    font-size: 1.5rem;
    opacity: .5;
    text-align: center;
    border-bottom: 1px solid #bcb9b9;
    margin: 0 auto 2rem;
    text-align:center;
    padding-top: 1.5rem;
}
.logoes{
    display: flex;
    justify-content: space-between;
    width: 200px;
    display: inline-block;
    margin-right: 3.5rem;
    font-weight: 200;
}
.logoesdiv{
    justify-content: center;
    display: flex;
}
.satauri1{
    font-weight: 700;

    font-size: 1.5rem;
    opacity: .5;
    text-align: center;
    border-bottom: 1px solid #bcb9b9;
    margin: 0 auto 2rem;
    text-align:center;
    padding-top: 1.5rem;
}

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
  }
  
  .poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
  }
  
  .poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
  }
  
  .poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
  }
  
  .poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
  }
  
  .poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  
  .poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
  }
  
  .poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
  }
.poto{
    display:inline-block;
}
.diviko{
    display: inline-block;
    
}
.gulve{
    text-align: center;

}
  .maindiv{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sadas{
    justify-content: space-between;
    display: flex;
  }